<!DOCTYPE html>
<html layout:decorate="~{base}" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<div class="row mb-2" layout:fragment="content-header">
    <div class="col-sm-6">
        <h1>Input Pendidikan</h1>
    </div>
    <!-- 	<div class="col-sm-6"> -->
    <!-- 		<ol class="breadcrumb float-sm-right"> -->
    <!-- 			<li class="breadcrumb-item"><a href="#">Home</a></li> -->
    <!-- 			<li class="breadcrumb-item active">General Form</li> -->
    <!-- 		</ol> -->
    <!-- 	</div> -->
</div>

<div layout:fragment="content-body">

    <div class="col-12">
        <div class="card">
            <div class="form-group">
                <div class="input-group-append">
                    <button class="btn btn-primary" id="tambahjenjang" type="button">
                        Tambah Data
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!--     <form role="form"> -->
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Tabel Pendidikan</h3>
        </div>
        <div class="card-body">
            <table id="tablePendidikan" class="table table-bordered">
            </table>
        </div>
        <div>
            <input class="form-control" type="text" placeholder="Masukkan id Person" id="idPerson" name="idPerson">
            <button class="btn btn-primary" id="submitPendidikan" type="button">Submit</button>
        </div>
    </div>
    <!--     </form> -->

    <div class="modal fade" id="modal-pendidikan">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Form Pendidikan</h4>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-header"></div>
                    <form id="formpendidikan" role="form">
                        <input name="id" type="hidden" />

                        <div class="form-group">
                            <label for="nama">Jenjang Pendidikan</label> <input type="text" class="form-control"
                                id="jenjang" name="jenjang" placeholder="Jenjang Pendidikan">
                        </div>

                        <div class="form-group">
                            <label>Institusi Pendidikan</label> <input type="text" class="form-control" id="institusi"
                                name="institusi" placeholder="Institusi Pendidikan">
                        </div>

                        <div class="form-group">
                            <label>Tahun Masuk</label> <input type="text" class="form-control" id="tahunMasuk"
                                name="tahunMasuk" placeholder="Tahun Masuk">
                        </div>

                        <div class="form-group">
                            <label>Tahun Lulus</label> <input type="text" class="form-control" id="tahunLulus"
                                name="tahunLulus" placeholder="Tahun Lulus">
                        </div>

                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" id="savebtnPendidikan" type="button">Save</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


</div>

<th:block layout:fragment="add-scripts">

    <script th:src="@{/assets/js/pendidikan.js}"></script>

    <script>
        var cond = -1;
        var pendidikantotal = [];
        $('#tambahjenjang').click(function () {
            formPendidikan.resetForm();
            $('#modal-pendidikan').modal('show')
        });


        $('#savebtnPendidikan').click(function () {

            if (cond >= 0) {
                formPendidikan.saveEdit();
                formPendidikan.createTable();
                $('#modal-pendidikan').modal('hide')
            } else {
                formPendidikan.savePendidikan();
                formPendidikan.createTable();
                $('#modal-pendidikan').modal('hide')
            }
        });

        // $('#savebtnEdit').click(function () {
        //     formPendidikan.saveEditTable();
        // });

        $('#submitPendidikan').click(function () {
            formPendidikan.postPendidikan($("#idPerson").val(), pendidikantotal);
            pendidikantotal = [];
        });

    </script>

</th:block>


</html>